__pycache__
inpainted
mask
result
data/models
data/testpacks/eng_dontupload
data/testpacks/testpacks
data/*.png
ballontranslator/ui/pagesources/gallery-dl
ballontranslator/gallery-dl
release
libs
icons

tmp.py
dummy_scripts.py

tmp
TEST*
logs
ballontrans_pylibs_win
config/config.json

.vscode
.VSCodeCounter
.idea
*.zip
*.ipynb
*.dll
*.so
*.docx
*.doc
*.pt
*.ckpt
*.onnx
*.7z
venv
pip
