__pycache__
inpainted
mask
result
ballontranslator/data/models
ballontranslator/data/testpacks/eng_dontupload
ballontranslator/data/testpacks/testpacks
release
libs

tmp.py
dummy_scripts.py

tmp
TEST*
ballontranslator/data/logs

*.json
.vscode
.VSCodeCounter
*.zip
*.ipynb
*.dll
*.so
*.docx
*.doc