__pycache__
inpainted
mask
result
data/models
data/testpacks/eng_dontupload
data/testpacks/testpacks
data/*.png
data/testpacks
ballontranslator/ui/pagesources/gallery-dl
ballontranslator/gallery-dl
release
libs
icons
.btrans_cache

tmp.py
dummy_scripts.py

alphabet-all-*
*gitpython
PortableGit
test_dir
tmp
logs
ballontrans_pylibs_win
config/config.json
localtmp*

.vscode
.VSCodeCounter
.idea
*.zip
*.ipynb
*.dll
*.so
*.docx
*.doc
*.pt
*.ckpt
*.onnx
*.7z
venv
pip
.DS_Store

fonts/*
!fonts/put fonts here.txt

#venv and autoinstaller folders
aria2c
python
git
update_git.bat
launch_win_venv.bat
install_venv.bat
install-BT.cmd
download_models.bat
