QWidget {
    /* border-style: none; */
    color: #5d5d5f;

}

SeparatorWidget {
    border-color: #b3b6bf;
}

Widget {
    background-color: #ebeef5;
}

CustomGV {
    background-color: #e6e9f0;

    border-color: #b3b6bf;
    border-style: solid;
    border-width: 1px;
}

ConfigTable {
    background-color: #e1e4eb
}

ConfigBlock {
    background-color: #e1e4eb
}


ConfigSubBlock {
    background-color: #e1e4eb
}


QSplitter:handle {
    background: #ebeef5;
}

QSplitter::handle:pressed {
    background: rgb(30, 147, 229)
}

ConfigSubBlock::hover {
    /* background-color: rgba(200, 215, 255, 50%); */
    background-color: rgba(30, 147, 229, 20%);
}

SourceTextEdit {
    font-size: 25px;
    background-color: #e1e4eb;
    border-radius: 10px;
    border-style: none;
}

TransTextEdit {
    font-size: 25px;
    /* background-color: #e1e4eb; */
    border-radius: 10px;
    background-color: whitesmoke;
}

QComboBox {
    height: 40px;
    font-size: 20px;
    padding-left: 12px;
    border: 1px solid whitesmoke;
}

QComboBox::drop-down {
    border-left-width: 0px;
}

QComboBox::hover {
    /* background-color: red; */
    border: 1px solid rgb(30, 147, 229);
}

QComboBox::down-arrow {
    image: url(data/icons/combobox_arrow.svg);
    width: 16px;
    height: 16px;
    padding-right: 20px;
}

QFontComboBox#FontFamilyBox {
    width: 160px;
    height: 40px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 10px;
    border-color: #b3b6bf;
}

QFontComboBox#FontFamilyBox::hover {
    border: 1px solid rgb(30, 147, 229);
}

QFontComboBox#FontFamilyBox::down-arrow {
    image: url(data/icons/combobox_arrow.svg);
    width: 32px;
    height: 16px;
    padding-right: 0px;
    margin-right: 10px;
}

SizeComboBox {
    padding-left: 8px;
    padding-right: 5px;
    font-size: 20px;
    width: 52px;
    border-color: #b3b6bf;
}

SizeComboBox::hover {
    border: 1px solid rgb(30, 147, 229);
}

SizeComboBox::down-arrow {
    image: url(data/icons/combobox_arrow.svg);
    width: 42px;
    height: 16px;
    padding-right: 5px;
    margin-right: 5px;
}

QLabel#lineSpacingLabel {
    image: url(data/icons/fontfmt_linespacing.svg);
    max-width: 38px;
    max-height: 38px;
    min-width: 38px;
    min-height: 38px;
}

QLabel#letterSpacingLabel {
    image: url(data/icons/fontfmt_letterspacing.svg);
    max-width: 42px;
    max-height: 42px;
    min-width: 42px;
    min-height: 42px;
}

ColorPicker {
    max-height: 38px;
    min-height: 38px;
    min-width: 38px;
    max-width: 38px;
    border: 3px solid #b3b6bf;
}

ColorPicker::hover {
    border: 3px solid rgb(30, 147, 229);
}

AlignmentChecker {
    /* max-height: 30px; */
    /* max-width: 52px; */
    margin: 0px;
}

AlignmentChecker::indicator {
    height: 42px;
    width: 42px;
    border: 2px solid #b3b6bf;
}

AlignmentChecker::indicator:checked {
    background-color: rgb(30, 147, 229);
}

AlignmentChecker::indicator:hover {
    border: 2px solid rgb(30, 147, 229);
}

AlignmentChecker#AlignLeftChecker::indicator {
    border-right: none;
    min-width: 54px;
    max-width: 54px;
    image: url(data/icons/fontfmt_alignl.svg);
}

AlignmentChecker#AlignLeftChecker::indicator:checked {
    image: url(data/icons/fontfmt_alignl_activate.svg);
}

AlignmentChecker#AlignCenterChecker::indicator {
    border-right: none;
    border-left: none;
    min-width: 54px;
    max-width: 54px;
    image: url(data/icons/fontfmt_alignc.svg);
}

AlignmentChecker#AlignCenterChecker::indicator:checked {
    image: url(data/icons/fontfmt_alignc_activate.svg);
}

AlignmentChecker#AlignRightChecker::indicator {
    border-left: none;
    min-width: 52px;
    max-width: 52px;
    image: url(data/icons/fontfmt_alignr.svg);
}

AlignmentChecker#AlignRightChecker::indicator:checked {
    image: url(data/icons/fontfmt_alignr_activate.svg);
}

QFontChecker {
    max-width: 49px;
}

QFontChecker::indicator {
    width: 45px;
    height: 45px;
    border: 2px solid rgba(30, 147, 229, 0);
}

QFontChecker::indicator::hover {
    border: 2px solid rgb(30, 147, 229);
}

QFontChecker::indicator::checked {
    border: 2px solid rgb(30, 147, 229);
    background-color: rgb(30, 147, 229);
}

QFontChecker#FontBoldChecker::indicator {
    image: url(data/icons/fontfmt_bold.svg);
}

QFontChecker#FontBoldChecker::indicator:checked {
    image: url(data/icons/fontfmt_bold_activate.svg);
}

QFontChecker#FontItalicChecker::indicator {
    image: url(data/icons/fontfmt_italic.svg);
}

QFontChecker#FontItalicChecker::indicator:checked {
    image: url(data/icons/fontfmt_italic_activate.svg);
}

QFontChecker#FontUnderlineChecker::indicator {
    image: url(data/icons/fontfmt_underline.svg);
}

QFontChecker#FontUnderlineChecker::indicator:checked {
    image: url(data/icons/fontfmt_underline_activate.svg);
}

QFontChecker#FontVerticalChecker::indicator {
    image: url(data/icons/fontfmt_vertical.svg);
}

QFontChecker#FontVerticalChecker::indicator:checked {
    image: url(data/icons/fontfmt_vertical_activate.svg);
}

TextEditListScrollArea {
    border-style: none;
}

PageListView {
    background-color: #e1e4eb
}

QAction {
    min-height: 100px;
}

QMenu {
    background-color: #e1e4eb;
    margin: 0px; /* some spacing around the menu */
}

QMenu::item {
    height: 42px;
    width: 512px;
    margin: 0px;
    background-color: #e1e4eb;
    padding-left: 50px;
    padding-right: 50px;
}

QMenu::separator {
    height: 8px;
    /* background: lightblue; */
    margin-left: 20px;
    margin-right: 20px;
}

/* QMenu::item {
    background-color: #e1e4eb;
    min-height: 100px;
}*/

QMenu::item:selected {
    background-color: #cad7ed;
}

QDialog {
    font-size: 7px;
    background-color: #ebeef5;
}

QGroupBox {
    background-color: #e1e4eb;
}


QTabWidget {
    font: normal, "Comic Sans MS";
    font-size: 13px;
    background-color: #e1e4eb;
    border: 0px;
}


QPushButton {
    /* width: 140px; */
    max-width: 140px;
    height: 50px;
    /* min-width: 140px; */
    font-size: 20;
    background-color: rgba(198, 201, 207, 33%);
    border: 1px solid #999999;
    border-radius: 5px;
}

QPushButton::hover {
    background-color: #cad7ed;
}

QPushButton:pressed {
    border: 1px solid royalblue;
}

QPushButton#minBtn {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    width: 24px;
    height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    image: url(data/icons/titlebar_min.svg);
}

QPushButton#minBtn::hover {
    background-color: rgba(0, 0, 0, 10%);
}

StatusButton {
    /* max-width: 140px; */
    max-width: 10800px;
    /* height: 50px; */
    /* min-width: 140px; */
    font-size: 18px;
    padding-left: 10px;
    padding-left: 10px;
    border: none;
}

QCheckBox#maxBtn::indicator{
    height: 26px;
    width: 26px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 24px;
    padding-right: 24px;
    image: url(data/icons/titlebar_max.svg);
}

QCheckBox#maxBtn::indicator:hover
{
    background-color: rgba(0, 0, 0, 10%);
}
QCheckBox#maxBtn::indicator:checked
{
    image: url(data/icons/titlebar_windowmode.svg);
}

QPushButton#closeBtn {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    image: url(data/icons/titlebar_close.svg);
}

QPushButton#closeBtn::hover {
    background-color: #E81123;
    image: url(data/icons/titlebar_close_activate.svg);
}



QTableWidget {
    border: 0px solid gray;
    selection-background-color: darkgray;
}

TextChecker::hover {
    background-color: rgba(30, 147, 229, 20%);
}

TextChecker#OCRChecker {
    height: 50px;
    width: 100;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
}

QCheckBox#TransChecker::indicator {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 40px;
    width: 40px;
    image: url(data/icons/bottombar_translate.svg);
}

QCheckBox#TransChecker::indicator:checked {
    image: url(data/icons/bottombar_translate_activate.svg);
}

QCheckBox#TransChecker::indicator:hover {
    background-color: rgba(30, 147, 229, 20%);
}

QCheckBox#PaintChecker::indicator {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    /* padding-bottom: 4px; */
    height: 50px;
    width: 50px;
    image: url(data/icons/bottombar_paintmode.svg);
}

QCheckBox#PaintChecker::indicator:checked {
    image: url(data/icons/bottombar_paintmode_activate.svg);
}

QCheckBox#PaintChecker::indicator:hover {
    background-color: rgba(30, 147, 229, 20%);
}

QCheckBox#TexteditChecker::indicator {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 42px;
    width: 42px;
    image: url(data/icons/bottombar_textedit.svg);
}

QCheckBox#TexteditChecker::indicator:checked {
    image: url(data/icons/bottombar_textedit_activate.svg);
}

QCheckBox#TexteditChecker::indicator:hover {
    background-color: rgba(30, 147, 229, 20%);
}

QCheckBox#TextblockChecker::indicator{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 42px;
    width: 42px;
    image: url(data/icons/bottombar_textblock.svg);
}

QCheckBox#TextblockChecker::indicator:hover {
    background-color: rgba(30, 147, 229, 20%);
}

QCheckBox#TextblockChecker::indicator:checked{
    image: url(data/icons/bottombar_textblock_activate.svg);
}

QSlider#OpacitySlider {
    max-width: 50;
    min-width: 50;
    max-height: 200;
    min-height: 200;
}

QSlider#OpacitySlider::hover {
    opacity: 100;
}



QSlider#SizeSlider {
    max-width: 200;
    min-width: 200;
    max-height: 50;
    min-height: 50;
}

OpenBtn {
    border-style: none;
    image: url(data/icons/openbtn.svg);
    
}

OpenBtn::hover {
    image: url(data/icons/openbtn_activate.svg);
}

OpenBtn::pressed {
    image: url(data/icons/openbtn_activate.svg);
}

QProgressBar {
    background-color: #e1e4eb;
    width: 450px;
    height: 45px;
    max-width: 450px;
    max-height: 45px;
}

QToolButton#genDocBtn
{
    image: url(data/icons/word.svg);
}

QToolButton#genPsdBtn
{
    image: url(data/icons/psd.svg);
}


QCheckBox#ocrPage::indicator
{
    image: url(data/icons/ocr.svg);
}
QCheckBox#ocrPage::indicator:hover
{
    image: url(data/icons/ocr_activate.svg);
}
QCheckBox#ocrPage::indicator:checked
{
    background-color: #cad7ed;
}

QCheckBox#transLab::indicator
{
    image: url(data/icons/translation.svg);
}
QCheckBox#transLab::indicator:hover
{
    image: url(data/icons/translation_activate.svg);
}
QCheckBox#transLab::indicator:checked
{
    background-color: #cad7ed;
}

QCheckBox#saveLab::indicator
{
    image: url(data/icons/save.svg);
}
QCheckBox#saveLab::indicator:hover
{
    image: url(data/icons/save_activate.svg);
}
QCheckBox#saveLab::indicator:checked
{
    background-color: #cad7ed;
}

ShowPageListChecker::indicator{
    height: 56px;
    width: 56px;
    image: url(data/icons/showpagelist.svg);
}

ShowPageListChecker::indicator:hover
{
    image: url(data/icons/showpagelist_activate.svg);
}
ShowPageListChecker::indicator:checked
{
    image: url(data/icons/showpagelist_activate.svg);
}

StateChecker#ImgTransChecker::indicator{
    height: 56px;
    width: 56px;
    image: url(data/icons/leftbar_imgtrans.svg);
}

StateChecker#ImgTransChecker::indicator:hover
{
    image: url(data/icons/leftbar_imgtrans_activate.svg);
}
StateChecker#ImgTransChecker::indicator:checked
{
    image: url(data/icons/leftbar_imgtrans_activate.svg);
}

StateChecker#ConfigChecker::indicator{
    height: 56px;
    width: 56px;
    image: url(data/icons/leftbar_config.svg);
}

StateChecker#ConfigChecker::indicator:hover
{
    image: url(data/icons/leftbar_config_activate.svg);
}
StateChecker#ConfigChecker::indicator:checked
{
    image: url(data/icons/leftbar_config_activate.svg);
}

StateChecker#OCRChecker::indicator{
    height: 42px;
    width: 42px;
    image: url(data/icons/bottombar_ocr.svg);
}

StateChecker#OCRChecker::indicator:checked{
    height: 42px;
    width: 42px;
    background-color: rgba(30, 147, 229);
    image: url(data/icons/bottombar_ocr_activate.svg);
}


QProgressBar::chunk {
    background-color: #b0cbf8;
}


/*https://github.com/PyQt5/PyQt/blob/master/QScrollBar/StyleScrollBar.py*/
/*纵向滚动条*/
QScrollBar:vertical {
    /* background: transparent; 背景透明 */
    width: 10px; /*宽度*/
    margin: 0px 0px 0px 0px; /**/
    padding-top: 12px; /*距离上面12px*/
    padding-bottom: 12px; /*距离底部12px*/
    background: rgba(0, 0, 0, 30)
}
/*横向滚动条*/
QScrollBar:horizontal {
    background: rgba(0, 0, 0, 30);
    height: 10px; /*高度*/
    margin: 0px 0px 0px 0px;
    padding-left: 12px; /*距离左边12px*/
    padding-right: 12px; /*距离右边12px*/
}

/*当鼠标放到纵向或者横向滚动条上面时*/
QScrollBar:vertical:hover,QScrollBar:horizontal:hover {
    background: rgba(0, 0, 0, 30); /*修改背景透明度 30*/
    border-radius: 5px; /*圆角*/
}

/*纵向滚动条上面的滑块*/
QScrollBar::handle:vertical {
    background: rgba(0, 0, 0, 50);
    width: 10px;
    /* border-radius: 5px; */
    border: none;
}
/*横向滚动条上面的滑块*/
QScrollBar::handle:horizontal {
    background: rgba(0, 0, 0, 50);
    height: 10px;
    /* border-radius: 5px; */
    border: none;
}

/*当鼠标放到滚动条滑块上面时改变透明度实现颜色的深浅变化*/
QScrollBar::handle:vertical:hover,QScrollBar::handle:horizontal:hover {
    background: rgba(0, 0, 0, 100);
}

/*纵向滚动条下部分块*/
QScrollBar::add-page:vertical {
    width: 10px;
    background: transparent;
}
/*横向滚动条后面部分块*/
QScrollBar::add-page:horizontal {
    height: 10px;
    background: transparent;
}
/*纵向滚动条上面部分块*/
QScrollBar::sub-page:vertical {
    width: 10px;
    background: transparent;
}
/*横向滚动条左部分块*/
QScrollBar::sub-page:horizontal {
    height: 10px;
    background: transparent;
}

QScrollBar::sub-line {
    height: 12px;
    width: 10px;
    background: transparent;
    subcontrol-position: top;
}

/*纵向滚动条顶部三角形位置*/
QScrollBar::add-line {
    height: 10px;
    width: 1px;
    background: transparent;
    subcontrol-position: top;
}


.IncrementalBtn {
    border-radius: 0px;
    height: 20px;
    width: 20px;
}
.IncrementalBtn#FsizeIncrementUp {
    border-image: url(data/icons/incre_up.svg) 0 0 0 0 stretch stretch;
}
.IncrementalBtn#FsizeIncrementDown {
    border-image: url(data/icons/incre_down.svg) 0 0 0 0 stretch stretch;
}

.FadeLabel {
    background: rgba(0, 0, 0, 85);
    border-radius: 25px;
    border: none;
    font-size: 33px;
    min-height: 55px;
    max-height: 55px;
    min-width: 110px;
    max-width: 110px;
    color: rgba(255, 255, 255, 150);
}

QLabel#TitleLabel {
    font-size: 18px;
    color: #5d5d5f;
}

QLabel#angleLabel {
    background: rgba(0, 0, 0, 85);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    min-height: 32px;
    max-height: 32px;
    min-width: 72px;
    max-width: 72px;
    color: rgba(255, 255, 255, 150);
}

DrawToolCheckBox::indicator {
    height: 50px;
    width: 50px;
    border-radius: 9px;
    padding: 10px;
}

DrawToolCheckBox::indicator:checked {
    background-color: rgba(30, 147, 229, 80);
}

DrawToolCheckBox#DrawHandTool::indicator {
    
    image: url(data/icons/drawingtools_hand.svg);
}

DrawToolCheckBox#DrawHandTool::indicator:hover {
    image: url(data/icons/drawingtools_hand_activate.svg);
}

DrawToolCheckBox#DrawHandTool::indicator:checked {
    
    image: url(data/icons/drawingtools_hand.svg);
}

DrawToolCheckBox#DrawInpaintTool::indicator {
    image: url(data/icons/drawingtools_inpaint.svg);
}

DrawToolCheckBox#DrawInpaintTool::indicator:hover {
    image: url(data/icons/drawingtools_inpaint_activate.svg);
}

DrawToolCheckBox#DrawInpaintTool::indicator:checked {
    image: url(data/icons/drawingtools_inpaint.svg);
}

DrawToolCheckBox#DrawPenTool::indicator {
    image: url(data/icons/drawingtools_pen.svg);
}

DrawToolCheckBox#DrawPenTool::indicator:hover {
    image: url(data/icons/drawingtools_pen_activate.svg);
}

DrawToolCheckBox#DrawPenTool::indicator:checked {
    image: url(data/icons/drawingtools_pen.svg);
}

DrawToolCheckBox#DrawRectTool::indicator {
    image: url(data/icons/bottombar_textblock_activate.svg);
}

DrawToolCheckBox#DrawRectTool::indicator:hover {
    image: url(data/icons/bottombar_textblock.svg);
}

DrawToolCheckBox#DrawRectTool::indicator:checked {
    image: url(data/icons/bottombar_textblock_activate.svg);
}



